name: boolean check

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          repository: TE-ShungoHigashi/testrepo
      - name: echo echo 
        run: |
          echo github.event_name: ${{ github.event_name }}
          echo github.ref: ${{ github.ref }}
          echo github.ref_name: ${{ github.ref_name }}
          echo github.sha ${{ github.sha }}
          echo gihub.head_ref: ${{ github.head_ref }}
          echo gihub.base_ref: ${{ github.base_ref }}
          echo github.event.pull_request.head.ref ${{  github.event.pull_request.head.ref }}
          echo github.event.pull_request.head.sha ${{ github.event.pull_request.head.sha }}
      - name: Show context
        run: |
          echo github.run_id ${{ github.run_id }}
          echo github.run_attempt ${{ github.run_attempt }}
          echo github.run_number ${{ github.run_number }}
          echo github.repository ${{ github.repository }}
          echo job.check_run_id ${{ job.check_run_id }}
