name: call composite action

on:
  workflow_dispatch:
    inputs:
       exit:
         type: choice
         options: ["0", "1"]
         default: "0"

jobs:
  call_action:
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
          --method POST \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /repos/TE-ShungoHigashi/testrepo/statuses/36cfdc04690553b3ed580a27ade896a61b439f63 \
          -f "state=failure" -f "target_url=https://example.com/build/status" -f "description=The build succeeded!" -f "context=hello_world"
      - run: |
          test=$(echo '${{runner.name}}')
          echo $test
          echo '${{runner.os}}'
      - run: pwd && ls -l
      - working-directory: /home/runner
        run: pwd # && mkdir test && echo 'hogehoge' >> test/text.txt && ls -l test
      - uses: actions/checkout@v4
        env:
          dirname: env_field
        with:
          repository: espressif/esptool
          path: /home/runner/${{ env.dirname }}
      - working-directory: /home/runner/
        run: pwd && ls -Rl .
      - name: step A
        run: sleep 20; exit ${{ inputs.exit }}
      - name: step B
        if: always()
        uses: ./.github/actions/tmp1
      
