name: Check docker/meta-actions

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docker/**'
      - '.github/workflows/check-meta-actions.yml'
  pull_request:
    paths:
      - 'docker/**'
      - '.github/workflows/check-meta-actions.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/${{ github.repository }}/simple-ubuntu
          tags: |
            type=semver,pattern={{version}},value=v1.0.0,enable={{is_default_branch}}
            type=ref,event=pr

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: docker/simple-ubuntu
          file: docker/simple-ubuntu/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=min
