name: Control GITHUB_OUTPUT and GITHUB_ENV
on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: First step
        id: first_step
        run: |
          echo "my_freestyle=value_my_freestyle" >> ${{ runner.temp }}/_runner_file_commands/freestyle
          echo "my_set_env=value_my_set_env" >> ${{ runner.temp }}/_runner_file_commands/set_env_aiueo
          echo "my_set_env_uuid=value_my_set_env_uuid" >> ${{ runner.temp }}/_runner_file_commands/set_env_151ba676-260e-4a70-9d65-eb235d1b6501
          echo "GITHUB_OUTPUT: $GITHUB_OUTPUT"
          echo "GITHUB_ENV: $GITHUB_ENV"
          echo "GITHUB_STEP_SUMMARY: $GITHUB_STEP_SUMMARY"
          ls -la ${{ runner.temp }}/_runner_file_commands

      - name: Second step
        id: second_step
        run: |
          echo "my_freestyle: ${{ env.my_freestyle }}"
          echo "my_set_env: ${{ env.my_set_env }}"
          echo "my_set_env_uuid: ${{ env.my_set_env_uuid }}"
          echo "GITHUB_OUTPUT: $GITHUB_OUTPUT"
          echo "GITHUB_ENV: $GITHUB_ENV"
          echo "GITHUB_STEP_SUMMARY: $GITHUB_STEP_SUMMARY"
          ls -la ${{ runner.temp }}/_runner_file_commands
