name: Control GITHUB_OUTPUT and GITHUB_ENV
on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: First step
        id: first_step
        run: |
          echo "my_freestyle=value_my_freestyle" >> ${{ runner.temp }}/_runner_file_commands/freestyle
          echo "my_set_env=value_my_set_env" >> ${{ runner.temp }}/_runner_file_commands/set_env_aiueo
          echo "my_set_env_uuid=value_my_set_env_uuid" >> ${{ runner.temp }}/_runner_file_commands/set_env_151ba676-260e-4a70-9d65-eb235d1b6501
          echo "my_env=hello_world_1" >> $GITHUB_ENV
          echo "my_sed=my_sed_1" >> $GITHUB_ENV
          echo "GITHUB_OUTPUT: $GITHUB_OUTPUT"
          echo "GITHUB_ENV: $GITHUB_ENV"
          echo "GITHUB_STEP_SUMMARY: $GITHUB_STEP_SUMMARY"
          ls -la ${{ runner.temp }}/_runner_file_commands
          (
            sleep 8
            echo "my_env=hello_world_2" >> $GITHUB_ENV
            sed -i -E 's/^(my_sed=).*/\1my_sed_2/g' $GITHUB_ENV
          ) &
          echo "pid=$!" | tee -a $GITHUB_OUTPUT

      - name: Second step
        id: second_step
        run: |
          echo "my_freestyle: ${{ env.my_freestyle }}"
          echo "my_set_env: ${{ env.my_set_env }}"
          echo "my_set_env_uuid: ${{ env.my_set_env_uuid }}"
          echo "my_env: ${{ env.my_env }}"
          echo "my_sed: ${{ env.my_sed }}"
          echo "GITHUB_OUTPUT: $GITHUB_OUTPUT"
          echo "GITHUB_ENV: $GITHUB_ENV"
          echo "GITHUB_STEP_SUMMARY: $GITHUB_STEP_SUMMARY"
          ls -la ${{ runner.temp }}/_runner_file_commands
          ps -p ${{ steps.first_step.outputs.pid }} -o pid,ppid,cmd || true
          echo sleep 16
          sleep 16

      - name: Third step
        id: third_step
        run: |
          echo "my_env: ${{ env.my_env }}"
          echo "my_sed: ${{ env.my_sed }}"
